<div class="container text-center">
    <p class="pull-left">© 2018 Company, Inc. All Rights Reserved</p>
    <a class=" float-right" href="https://www.helixgs.com/"  data-show-count="true" aria-label="Helix">Helix</a>
</div>
