<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" style="height: 50px;"> <!-- Adjust the height as needed -->
    <div class="container">
        <a class="navbar-brand" href="/">
            
        </a>
    </div>
</nav>
